@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    background-color:#1F51FF;
    color:white;
    text-align: center;
}

h1{
    margin-bottom:0;
}

input,button{
    background: white;
    background: linear-gradient(
        to right bottom,
        rgba(255,255,255,0.7),
        rgba(255,255,255,0.5)
    );
    color:black;
    border:none;
    border-radius: 0.5rem;
    margin : 1rem;
    padding : 0.5rem;
    outline:none;
}

input{
    width:15rem;
    height:2rem;
}

::placeholder {
    color:black;
    text-align: center;
}

.parent{
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}
.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    width : 100%;
    bottom:0;
    position:fixed;
}

.footer_icon{
    width: 1.7rem;
    height: 1.7rem;
    padding: 0.5rem;
    display: inline;
}